.home {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #2d0a0a;
}

/* Hero */
.hero-section {
  position: relative;
  height: 90vh;
  overflow: hidden;
}

.hero-swiper img {
  width: 100%;
  height: 90vh;
  object-fit: cover;
}

/* Text overlay */
.hero-text {
  position: absolute;
  top: 120px;
  width: 100%;
  text-align: center;
  z-index: 10;
}

/* 3D Text */
.hero-title-3d {
  font-size: 40px;
  font-weight: 900;
  background: linear-gradient(45deg, #220808, #29031e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  letter-spacing: 4px;

  text-shadow:
    2px 2px 0 #cf781a,
    4px 4px 15px rgba(219, 216, 218, 0.04);

  transform: perspective(600px) rotateX(12deg);
}

/* Rooms Section */
.rooms-section {
  padding: 0px 60px;
  background: #f9f9f9;
  text-align: center;
}

.section-title {
  font-size: 36px;
  margin-bottom: 10px;
  font-weight: 600;
}

.rooms-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.room-card {
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  transition: transform 0.4s ease;
}

.room-card:hover {
  transform: translateY(-8px);
}

.room-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.room-card:hover img {
  transform: scale(1.1);
}

.room-content {
  padding: 20px;
}

.room-content h3 {
  margin-bottom: 10px;
  font-size: 20px;
}

.room-content p {
  font-size: 14px;
  margin-bottom: 15px;
  color: #666;
}

.room-content button {
  background: #d4af37;
  border: none;
  padding: 8px 18px;
  font-weight: 600;
  cursor: pointer;
}

.room-content button:hover {
  background: #b9972d;
}

/* Services */
.services-section {
  padding: 0px 8%;
  background: #f9f9f9;
  text-align: center;
}

.section-title {
  font-size: 36px;
  margin-bottom: 35px;
  font-weight: 600;
}

.services-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.service-card {
  background: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: 0.3s ease;
}

.service-card:hover {
  transform: translateY(-10px);
}

.service-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.service-content {
  padding: 20px;
}

.service-content h3 {
  margin-bottom: 10px;
}

.service-content p {
  font-size: 14px;
  color: #555;
  margin-bottom: 15px;
}

.service-content button {
  background: #000;
  color: #fff;
  padding: 10px 18px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.service-content button:hover {
  background: #c59d5f;
}

/* Gallery */
.gallery-section {
  padding: 0px 40px;
  background: #f8f8f8;
  text-align: center;
}

.section-title {
  font-size: 36px;
  margin-bottom: 35px;
  font-weight: 600;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.gallery-item {
  overflow: hidden;
  border-radius: 12px;
}

.gallery-item img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.gallery-item:hover img {
  transform: scale(1.1);
}

