.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2933;
  padding: 15px 30px;
  color: white;
}

.logo h2 {
  margin: 0;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.navbar ul li a:hover {
  color: #facc15;
}
